*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(./image-hero.jpg);
}
.topnav{
    width: 100%;
    height: 130px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.topwrapper{
    width: 80%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    color: white;
    font-family: poppins, sans-serif;
    font-size: 35px;
}
.right{
    word-spacing: 30px;
}
.heads{
    color: white;
    text-decoration: none;
    font-size: 11px;
    font-family: poppins, sans-serif;
}
.experience{
    border: 1px solid white;
    width: 550px;
    height: 250px;
    position: absolute;
    left: 135px;
    bottom:200px;
}
.p1{
    color: white;
    font-size: 60px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 55px;
}
.container2{
    width: 100%;
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    /* background-color: hotpink; */
    width: 80%;
    height: 70%;
    display: flex;
}
.left2{
    width: 50%;
    height: 100%;
}
.right2{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
    position: relative;
}
.writing{
    position: absolute;
    top: 38%;
    right: 0;
}
.img2{
    width: 100%;
    height: 80%;
    
}
.header{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}
.content{
    margin-top: 20px;
    color: rgb(158, 155, 155);
    font-size: 15px;
}
.container3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hotpink; */
}
.wrapper3{
    width: 80%;
    height: 97%;
    /* background-color: burlywood; */
}
.topwrapper3{
    height: 40px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
}
.nav3{
    width: 100%;
    height: 100%;
     /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    width: 80px;
    height: 30px;
    font-size: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
}
.imagewrapper{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    margin: 0;
    width: 100%;
    justify-content: space-between;
}
img{
    width: 250px;
    height: 290px;
    max-width: 100%;
    margin: 0;
    margin-right: 9.6px;
}
.container4{
    width: 100%;
    height: 20vh;
    background-color: rgb(19, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.wrapper4{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
}
.socials{
    width: 30px;
    height: 30px;
}
.socialimg{
    padding: 0;
}
.loops{
    color: white;
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.a{
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-family: poppins, sans-serif;
}
.links{
    word-spacing: 20px;
    margin-top: 10px;
}
.copy{
    margin-top: 10px;
}
footer{
    color: white;
    font-size: 11px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}