*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(./image-hero.jpg);
}
.topnav{
    width: 100%;
    height: 8.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topwrapper{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left h3{
    color: white;
    font-family: poppins, sans-serif;
    font-size: 2.18rem;
}
.right{
    word-spacing: 1.87rem;
}
.heads{
    color: white;
    text-decoration: none;
    font-size: 0.68rem;
    font-family: poppins, sans-serif;
}
.experience{
    border: 1px solid white;
    width: 34.37rem;
    height: 15.62rem;
    position: absolute;
    left: 8.43rem;
    bottom:12.5rem;
}
.p1{
    color: white;
    font-size: 3.5rem;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    line-height: 1;
}
.container2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 80%;
    height: 70%;
    display: flex;
    position: relative;
}
.img2{
    width: 65%;
    height: 100%;
}
.writing{
    background-color: white;
    position: absolute;
    width: 50%;
    height: 70%;
    left: 50%;
    top: 30%;
    padding: 8rem 0 0 8rem;
}
.header{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}
.content{
    margin-top: 20px;
    color: rgb(158, 155, 155);
    font-size: 15px;
}
.container3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper3{
    width: 80%;
    height: 100%;
}
.topwrapper3{
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.topwrapper3 p{
    font-size: 1.87rem;
}
.topwrapper3 button{
    width: 5rem;
    height: 1.87rem;
    font-size: 0.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.18rem;
}
.imagewrapper{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
}
.deepearth{
    position: relative;
}
.deepearth h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;

}
.night{
    position: relative;
}
.night h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.soccer{
    position: relative;
}
.soccer h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.grid{
    position: relative;
}
.grid h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.above{
    position: relative;
}
.above h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.pocket{
    position: relative;
}
.pocket h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.curious{
    position: relative;
}
.curious h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.fisheye{
    position: relative;
}
.fisheye h2{
    position: absolute;
    bottom: 8%;
    left: 20%;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
}
.container4{
    width: 100%;
    height: 20vh;
    background-color: rgb(19, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35rem;
}
.wrapper4{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    width: 1.87rem;
    height: 1.87rem;
}
.socialimg{
    padding: 0;
}
.loops{
    color: white;
    font-family: poppins, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}
.a{
    text-decoration: none;
    color: white;
    font-size: 0.68rem;
    font-family: poppins, sans-serif;
}
.links{
    word-spacing: 1.25rem;
    margin-top: 0.62rem;
}
.copy{
    margin-top: 0.62rem;
}
footer{
    color: white;
    font-size: 0.68rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}